@model ProjetoCinemaAthon.Models.CadastroAtor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<hr />

<div class="card mb-3" style="max-width: 1300px;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="@Model.FotoArtista" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ">

                <dl class="row">

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DtNascimento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.DtNascimento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PaisNascimento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.PaisNascimento)
                    </dd>
                    
                   
                </dl>
            </div>
        </div>
    </div>
</div>

















<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
