@model ProjetoCinemaAthon.Models.CadastroAtor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<hr />

<div class="card mb-3" style="max-width: 1300px; border:none;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="@Model.FotoArtista" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ">

                <dl class="row">

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DtNascimento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.DtNascimento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PaisNascimento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.PaisNascimento)
                    </dd>
                    <hr />
                    <div class="col-md-4 align-content-center" style="font-weight:bold">Filme</div>
                    <div class="col-md-6 align-content-center" style="font-weight:bold">Personagem</div>
                    <div class="personagens">
                        @foreach (var vinculo in Model.VinculoAtorPersonagem)
                        {
                            <div class="row" style="margin-top: 5px" id="2">
                                <div class="col-md-4 align-content-center">@vinculo.RegistrarFilme.Titulo</div>
                                <div class="col-md-5 align-content-center">@vinculo.NomePersonagem</div>
                                <div class="col-md-3 text-center">
                                    <a asp-controller="RegistrarFilmes" asp-action="Details" asp-route-id="@vinculo.RegistrarFilme.Id" class="btn btn-outline-primary">Exibir Detalhes</a>
                                </div>
                            </div>
                        }
                    </div>
                   
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
