@model IEnumerable<ProjetoCinemaAthon.Models.RegistrarFilme>

@{
    var filmes = Model.ToList();
    var QuantiaFilmes = filmes.Count;
    ViewData["Title"] = "Home Page";
}

<script>
    function setStyle() {
        let alert = document.getElementsByClassName("msgBox")[0];
        window.setTimeout(() => {
            alert.setAttribute("class", "msgBox ON");
        }, 1000);

        window.setTimeout(() => {
            alert.setAttribute("class", "msgBox OFF");
        }, 5000);
    };

    function curlName(nome){
        if (nome.length > 19) {
            return nome.substr(0, 16) + "...";
        }else{
            return nome;
        }
    }


</script>

<style>
    *{
         //border:1px solid black;
    }
</style>

<div class="container">
        <div class="col-md-25">
            <div class="row">
                @for (int i = 0; i < filmes.Count && i < 10; i++)
                {
                    string Url = @filmes[(QuantiaFilmes - i) - 1].LinkCapa;
                    string Titulo = @filmes[(QuantiaFilmes - i) - 1].Titulo;
                    int Id = @filmes[(QuantiaFilmes - i) - 1].Id;

                    <div class="col-md-2 divName showDetails" onclick="showDetalhes(@Id)">
                        <div class="card" style="width: 14rem;">
                            <div class="card-body">
                            <p class="card-text">
                                <script>
                                    document.write(curlName('@Titulo'));
                                </script>
                            </p>
                            </div>
                            <img src="@Url" class="card-img-top" style="height:300px;">
                        </div>
                    </div>
                }

            </div>
        </div>
</div>

<style>
    .msgBox{
        position: fixed;
        top: 6.5%;
        left: 0.2%;
        opacity: 0;
    }
    .ON{
        position: fixed;
        top: 6.5%;
        left: 0.2%;
        opacity:1;
        transition: opacity 0.8s ease, visibility 0.8s ease;
    }

    .OFF {
        position: fixed;
        top: 6.5%;
        left: 0.2%;
        opacity: 0;
        transition: opacity 0.8s ease, visibility 0.8s ease;
    }
</style>

<div class="msgBox">
@if (ViewBag.Message != null)
{
    if (ViewBag.Message == "true")
    {
        <div class="alert alert-success" role="alert">
                Envio realizado com sucesso!
        </div>
        <script>setStyle();</script>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
                Ocorreu um erro no envio. <br />
                Por favor, tente novamente.
        </div>
        <script>setStyle();</script>
    }
}
</div>
<!--<p>Total de filmes cadastrados: @filmes.Count</p>-->

<div class="text-center displayStyleOut" id="detalhes">Exibir detalhes</div>